.QuebukeBox .searchBox {
  width: 6.5rem;
  height: 0.58rem;
  background: #f0f0f0;
  border-radius: 10px;
  margin: 0.25rem auto;
  display: flex;
  align-items: center;
}

.QuebukeBox .searchBox img {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.19rem 0 0.22rem;
}

.QuebukeBox .searchBox input {
  display: block;
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: 500;
  color: #232323;
  border: none;
  background-color: transparent;
  outline: none;
}

.QuebukeBox .BoxList {
  padding-top: 0.25rem;
}

.QuebukeBox .BoxList > .top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.48rem;
}

.QuebukeBox .BoxList > .top > div {
  font-size: 0.28rem;
  line-height: 0.32rem;
  font-family: PingFang;
  font-weight: 500;
  color: #232323;
  padding: 0 0.14rem 0.26rem 0.14rem;
  position: relative;
  box-sizing: border-box;
  height: 0.58rem;
}

.QuebukeBox .BoxList > .top > div:first-child {
  margin-right: 0.53rem;
}

.QuebukeBox .BoxList > .top > div:last-child {
  margin-left: 0.53rem;
}

.QuebukeBox .BoxList > .top > div.active {
  color: #efb511;
  border-bottom: 0.06rem solid #efb511;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .date_time {
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #888888;
  padding: 0 0.62rem;
  background-color: #efefef;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item {
  display: flex;
  align-items: center;
  height: 1.54rem;
  padding: 0 0.62rem;
  border-bottom: 1px solid #e5e5e5;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .left > div:nth-child(1) {
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.3rem;
  font-family: PingFang;
  font-weight: 500;
  color: #232323;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .left > div:nth-child(2) {
  height: 0.24rem;
  line-height: 0.24rem;
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #333333;
  margin-top: 0.2rem;
  margin-bottom: 0.18rem;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .left > div:nth-child(3) {
  display: flex;
  align-items: center;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .left > div:nth-child(3) img {
  display: block;
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.14rem;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .left > div:nth-child(3) div {
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #333333;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .left > div:nth-child(3) div.time {
  margin-right: 0.64rem;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .right {
  height: 0.36rem;
  background: #efb511;
  border-radius: 0.18rem;
  font-size: 0.22rem;
  font-family: PingFang;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 0 0.17rem;
}

.QuebukeBox .BoxList > .bottom > div.isQueke .item .right.active {
  background: #5d8c5d;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .date_time {
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #888888;
  padding: 0 0.62rem;
  background-color: #efefef;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item {
  display: flex;
  align-items: center;
  height: 1.54rem;
  padding: 0 0.62rem;
  border-bottom: 1px solid #e5e5e5;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(1) {
  display: flex;
  align-items: center;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(1) > div {
  height: 0.4rem;
  line-height: 0.4rem;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(1) > div:not(.ybkeshi) {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.3rem;
  font-family: PingFang;
  font-weight: 500;
  color: #232323;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(1) .ybkeshi {
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.2rem;
  background: #5d8c5d;
  border-radius: 0.04rem;
  padding: 0 0.12rem;
  color: #fff;
  margin-left: 0.2rem;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(2) {
  height: 0.24rem;
  line-height: 0.24rem;
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #333333;
  margin-top: 0.2rem;
  margin-bottom: 0.18rem;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(3) {
  display: flex;
  align-items: center;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(3) img {
  display: block;
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.14rem;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(3) div {
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #333333;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .left > div:nth-child(3) div.time {
  margin-right: 0.64rem;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .right {
  height: 0.36rem;
  background: #efb511;
  border-radius: 0.18rem;
  font-size: 0.22rem;
  font-family: PingFang;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 0 0.17rem;
}

.QuebukeBox .BoxList > .bottom > div.isChaban .item .right.active {
  background: #5d8c5d;
}

.QuebukeBox div.floatBox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1111;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: none;
}

.QuebukeBox div.floatBox .wrap {
  padding: 0.25rem;
  width: 6.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  top: 3.8rem;
  left: 0.5rem;
  z-index: 2222 !important;
  line-height: 0.5rem;
  padding-bottom: 1rem;
  border: 1px solid #eee;
  flex-direction: column;
  display: flex;
  height: 6.8rem;
  overflow-y: auto;
}

.QuebukeBox div.floatBox .wrap input {
  height: 0.6rem;
  width: 100%;
  margin: 0.1rem 0;
  border: 1px solid #aaa;
  padding-left: 0.26rem;
  box-sizing: border-box;
}

.QuebukeBox div.floatBox .wrap .addIcon {
  text-align: center;
  margin-top: 0.2rem;
}

.QuebukeBox div.floatBox .wrap .addIcon .iconfont {
  font-size: 0.5rem;
  color: #888;
  border: 1px solid #888;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
}

.QuebukeBox div.floatBox .wrap > p {
  text-align: center;
}

.QuebukeBox div.floatBox .wrap > p > .submit {
  width: 5.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  color: white;
  background: linear-gradient(to bottom, #ffcc3c, #f0b715);
  position: relative;
  top: 0.4rem;
  border: 0;
  font-size: 0.26rem;
}

.QuebukeBox .simple-pagination ul {
  margin: 0 0.2rem;
  margin-top: 0.57rem;
  margin-bottom: 0.57rem;
  justify-content: center;
}

.QuebukeBox .tup-name {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.78rem;
  color: #232323;
}

.QuebukeBox .tup-name > p:last-child {
  color: #b2b2b2;
}

.QuebukeBox .fill-plue {
  border: none;
  outline: none;
  text-align: right;
}

.QuebukeBox .sj-time {
  width: 100%;
  height: 0.5rem;
  background: #f0f0f0;
  line-height: 0.5rem;
  padding-left: 0.8rem;
}

.QuebukeBox .swiper-slide {
  /* border: 1px solid #eee; */
  height: auto !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.QuebukeBox .pre,
.QuebukeBox .swiper-container .next {
  display: none;
}

.QuebukeBox .swiper-container img {
  width: 100%;
}

.QuebukeBox .pre img {
  width: 0.4rem !important;
  position: absolute;
  top: 0.45rem;
  left: 0.2rem;
  z-index: 222;
}

.QuebukeBox .swiper-container {
  margin: 0.5rem 0.45rem;
}

.QuebukeBox .swiper-container .next img {
  z-index: 222;
  width: 0.4rem;
  position: absolute;
  top: 0.45rem;
  right: 0.2rem !important;
}

.QuebukeBox .webuploader-pick {
  display: block;
}

.QuebukeBox .swiper-container img {
  display: block;
  width: 100%;
}

.QuebukeBox .button {
  height: 0.88rem !important;
  line-height: 0.88rem !important;
  width: 5.8rem !important;
  text-align: center !important;
  margin: 0 auto !important;
  margin-top: 1.06rem !important;
  margin-bottom: 1rem !important;
}

.QuebukeBox #text {
  background: white;
  border: 1px solid #b2b2b2;
  border-radius: 0.1rem;
  margin: 0.36rem 0.56rem 0 0.56rem;
  width: calc(100% - 1.12rem) !important;
  height: 2rem;
  box-sizing: border-box;
  padding: 0.22rem;
}

.QuebukeBox .class_show {
  display: none;
  height: 100vh;
  padding: 0 !important;
  overflow-y: auto;
  font-size: 0.28rem;
  line-height: 0.42rem;
  font-family: PingFang;
  font-weight: 500;
  color: #b2b2b2;
}

.commonUI-toastd {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.commonUI-toastd .commonUI-toast-wrapper span {
  top: -1rem;
}

.detailsBox .input {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  padding: 0.2rem;
  padding-top: 0.3rem;
}

.detailsBox .input input {
  font-size: 0.3rem;
  width: 5.5rem;
  background-color: #eee;
  border: 0;
  padding-left: 0.16rem;
  outline: none;
  border-bottom: 1px solid #51c332;
  padding-bottom: 0.05rem;
}

.detailsBox .input input::-webkit-input-placeholder {
  color: #a4a4a4;
}

.detailsBox .input button {
  background-color: #eee;
  border: 1px solid #a4a4a4;
  color: #a4a4a4;
  float: right;
  font-size: 0.3rem;
  padding: 0.05rem 0.1rem;
}

.detailsBox .input button.on {
  background-color: #51c332;
  border: 1px solid #51c332;
  color: white;
}

.detailsBox > .list > .item {
  border-bottom: 1px solid #e5e5e5;
  padding: 0.4rem 0.66rem 0.54rem 0.33rem;
}

.detailsBox > .list > .item:last-child {
  border-bottom: none;
}

.detailsBox > .list > .item ._header {
  display: flex;
  align-items: center;
  margin-bottom: 0.32rem;
}

.detailsBox > .list > .item ._header .headpicbox {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.2rem;
}

.detailsBox > .list > .item ._header .headpicbox img {
  display: block;
  width: 100%;
}

.detailsBox > .list > .item ._header .right .name {
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: 500;
  color: #232323;
}

.detailsBox > .list > .item ._header .right .time {
  height: 0.24rem;
  line-height: 0.24rem;
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #666666;
  margin-top: 0.16rem;
}

.detailsBox > .list > .item ._content {
  margin-left: 0.73rem;
}

.detailsBox > .list > .item ._content .text {
  line-height: 0.48rem;
  margin-bottom: 0.12rem;
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: 500;
  color: #232323;
}

.detailsBox > .list > .item ._content .imgbox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.32rem;
}

.detailsBox > .list > .item ._content .imgbox > div {
  width: 31%;
  margin-right: 3%;
}

.detailsBox > .list > .item ._content .imgbox > div img {
  display: block;
  width: 100%;
}

.detailsBox > .list > .item ._content .imgbox > div:nth-child(3n) {
  margin-right: 0;
}

.detailsBox > .list > .item ._content .discuss .item {
  background-color: #f0f0f0;
  border-bottom: 1px solid #fff;
  padding: 0.2rem;
}

.detailsBox > .list > .item ._content .discuss .item .name {
  color: #000;
  font-size: 0.24rem;
  line-height: 0.24rem;
  height: 0.24rem;
  margin-bottom: 0.24rem;
  font-weight: bold;
}

.detailsBox > .list > .item ._content .discuss .item .text {
  color: #333;
  font-size: 0.24rem;
  line-height: 0.42rem;
  margin-bottom: 0.1rem;
}

.detailsBox > .list > .item ._content .discuss .item .text span {
  color: #2200d1;
}

.detailsBox > .list > .item ._content .discuss .pinglun_box.active {
  background-color: #ddd;
}
