.TindexTopBox {
  width: 100%;
  height: 2.79rem;
  background: linear-gradient(90deg, #ff4e50, #f9a623);
  box-sizing: border-box;
  padding: 0.24rem 0.47rem 0.23rem 0.47rem;
}

.TindexTopBox > .top {
  display: flex;
  align-items: center;
}

.TindexTopBox > .top .headPic {
  width: 0.88rem;
  height: 0.88rem;
  display: block;
  margin-right: 0.29rem;
}

.TindexTopBox > .top .username {
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: bold;
  color: white;
}

.TindexTopBox > .top div:not(.username) {
  flex: 1;
}

.TindexTopBox > .top .t-notice {
  width: 0.36rem;
  height: 0.4rem;
}

.TindexTopBox > .bottom {
  margin-top: 0.67rem;
  display: flex;
  align-items: center;
}

.TindexTopBox > .bottom > div {
  flex: 1;
  border-right: 1px solid #fff;
  height: 0.78rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TindexTopBox > .bottom > div:last-child {
  border: none;
}

.TindexTopBox > .bottom > div > .top {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.3rem;
  font-family: PingFang;
  font-weight: 500;
  color: white;
}

.TindexTopBox > .bottom > div > .bottom {
  text-align: center;
  font-size: 0.18rem;
  font-family: PingFang;
  font-weight: 500;
  color: white;
}

.TindexBottomBox {
  padding: 0 0.13rem;
  display: flex;
  flex-wrap: wrap;
}

.TindexBottomBox > div {
  padding: 0.61rem 0 0.22rem 0;
  width: 25%;
}

.TindexBottomBox > div > img {
  display: block;
  width: 0.54rem;
  height: 0.56rem;
  margin: 0 auto;
}

.TindexBottomBox > div .title {
  margin-top: 0.2rem;
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: 500;
  text-align: center;
  color: #474a52;
}

.TindexBox {
  position: relative;
}

.TindexBox .TindexBG {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.04rem;
}
