.item1{
    width: 6.9rem;
    /* height: 2.16rem; */
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgba(14,5,10,0.2);
    border-radius: 0.2rem;
    margin: 0 auto;
    margin-top: 0.4rem;
}
.top1{
    padding: 0.25rem 0.31rem;
    box-sizing: border-box;
    height: 0.88rem;
    background: #f3f3f3;
    border-radius: 0.2rem 0.2rem 0 0;
    display: flex;
    align-items: flex-end;
}
.top1 img{
    display: block;
    width: 0.4rem;
    height: 0.38rem;
}
.title1{
    display: block;
    margin-left: 0.19rem;
    font-size: 0.24rem;
    font-family: PingFang;
    font-weight: 500;
    color: #333;
    line-height: 0.28rem;
}
.top2{
    display: flex;
    margin-top: 0.3rem;
 justify-content: space-around;
}
.bottom1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 0.28rem;
    font-family: PingFang;
    font-weight: 500;
    color: #333;
    line-height: 0.58rem;
}
.img1{
    width: 0.2rem;
    height: 0.2rem;
    background: linear-gradient(0deg, #ff4f4f, #fc7f36);
    border-radius: 50%;
    margin-right: 0.22rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}